.root {
    -fx-background-color: #F6F8FA;
}

.main-font-color {
    -fx-text-fill: black;
}

.theme-font-color {
    -fx-text-fill: white;
}

.theme-background-color {
    -fx-background-color: #563BFF;
}

.main-background-color {
    -fx-background-color: white;
}

.header-shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
}

.status-info-container {
    -fx-effect: dropshadow(three-pass-box, #a1a1a1, 2, 0, 0.0, 3.0);
}


/*For color and background color of graphs except gantt chart*/
.default-color0.chart-series-line {
    -fx-stroke: #563BFF;
}
.default-color0.chart-line-symbol {
    -fx-background-color: #563BFF, white;
}
.axis-label, .chart-vertical-grid-lines, .chart-horizontal-grid-lines, .chart-title, .axis {
    -fx-text-fill: black;
    -fx-tick-label-fill: black;
}

.status-bar {
    -fx-border-color: white;
    -fx-background-color: #563BFF;
}