.root {
    -fx-background-color: #F6F8FA;
}

.header-container {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
    -fx-background-color: white;
    -fx-padding: 0 30px 0 30px;
}

.graph-label {
    -fx-font-size: 25px;
    -fx-padding: 10px;
}

.screen-title {
    -fx-border-insets: 10px;
}

.btn {
    -fx-font-size: 16px;
    -fx-background-color: #563BFF;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-padding: 5 50px;
}

.icon:hover {
    -fx-opacity: 0.5;
}

.btn:hover, .icon:hover {
    -fx-cursor: hand;
}


.graph-container-padding {
    -fx-padding: 15px 30px;
}

.status-info-container {
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-background-color: white;
    -fx-padding: 0 30px;
    -fx-effect: dropshadow(three-pass-box, #a1a1a1, 2, 0, 0.0, 3.0);
}


/*For color and background color of graphs except gantt chart*/
.chart-plot-background {
    -fx-background-color: transparent;
}
.default-color0.chart-series-line {
    -fx-stroke: #563BFF;
}
.default-color0.chart-line-symbol {
    -fx-background-color: #563BFF, white;
}
.axis-label, .chart-vertical-grid-lines, .chart-horizontal-grid-lines, .chart-title, .axis {
    -fx-text-fill: black;
    -fx-tick-label-fill: black;
}
